body {
	margin: 0;
	background-color: #000;
	overscroll-behavior: none;
}

#slide_frame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 15%;
	width: 90%;
	height: 80%;
	padding: 10px;
	border: 2px solid #000;
	margin: auto;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1;

}

#slide_frame #slide {
	color: #333;
	font-family: 'Sawarabi Mincho', sans-serif;
	font-size: 150px;
}
